@page
@model WebProgProject.Pages.CemetaryPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 fontsize="2">Was Northern Kentucky the home of your Ancestor? Do you know anyone that needs a cemetery home? Fill out our form to have a fallen ancestor burried here at St.John Cemetery in Ft. Mitchell, Ky. </h1>

<form method="post">

    First name:<br />

    <input name="FirstName" type="text" class="form-control input-lg" required autofocus />

    <br />

    Last Name:<br />

    <input name="LastName" type="text" class="form-control input-lg" required autofocus />

    <br />

    Email address:<br />

    <input name="email" type="email" class="form-control input-lg" required autofocus />

    <br />
    Phone Number:<br />

    <input name="PhoneNumber" type="number" class="form-control input-lg" required autofocus />

    <br />

    Current address:<br />

    <input name="Address" type="text" class="form-control input-lg" required autofocus />

    <br />
    City:<br />

    <input name="City" type="text" class="form-control input-lg" required autofocus />

    <br />
    State:<br />

    <input name="State" type="text" class="form-control input-lg" required autofocus />

    <br />
    Zip code:<br />

    <input name="ZipCode" type="text" class="form-control input-lg" required autofocus />

    <br />

    Burial Date:<br />

    <input name="BurialDate" type="text" class="form-control input-lg" required autofocus />

    <br />

    Death date:<br />

    <input name="DeathDate" type="text" class="form-control input-lg" required autofocus />

    <br />

    <input type="submit" class="btn btn-info" />

</form>
   

