@page
@model WebProgProject.Pages.PersonPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            Image
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="file" asp-for="Person.Upload" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.id" />
            Image
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="file" asp-for="Person.Tombstone" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MaidenName" class="control-label"></label>
                <input asp-for="Person.MaidenName" class="form-control" />
                <span asp-validation-for="Person.MaidenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DateOfBirth" class="control-label"></label>
                <input asp-for="Person.DateOfBirth" class="form-control" />
                <span asp-validation-for="Person.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DateOfDeath" class="control-label"></label>
                <input asp-for="Person.DateOfDeath" class="form-control" />
                <span asp-validation-for="Person.DateOfDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthPlace" class="control-label"></label>
                <input asp-for="Person.BirthPlace" class="form-control" />
                <span asp-validation-for="Person.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DeathPlace" class="control-label"></label>
                <input asp-for="Person.DeathPlace" class="form-control" />
                <span asp-validation-for="Person.DeathPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Spouse" class="control-label"></label>
                <input asp-for="Person.Spouse" class="form-control" />
                <span asp-validation-for="Person.Spouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Profession" class="control-label"></label>
                <input asp-for="Person.Profession" class="form-control" />
                <span asp-validation-for="Person.Profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DeathCause" class="control-label"></label>
                <input asp-for="Person.DeathCause" class="form-control" />
                <span asp-validation-for="Person.DeathCause" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.gender" class="control-label"></label>
                <input asp-for="Person.gender" class="form-control" />
                <span asp-validation-for="Person.gender" class="text-danger"></span>
            </div>
            Census records
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="file" asp-for="Person.CensusRecords" class="text-danger" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label asp-for="Person.GrandMother" class="control-label"></label>
                <input asp-for="Person.GrandMother" class="form-control" />
                <span asp-validation-for="Person.GrandMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.GrandFather" class="control-label"></label>
                <input asp-for="Person.GrandFather" class="form-control" />
                <span asp-validation-for="Person.GrandFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.GreatGrandMother" class="control-label"></label>
                <input asp-for="Person.GreatGrandMother" class="form-control" />
                <span asp-validation-for="Person.GreatGrandMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.GreatGrandFather" class="control-label"></label>
                <input asp-for="Person.GreatGrandFather" class="form-control" />
                <span asp-validation-for="Person.GreatGrandFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Siblings" class="control-label"></label>
                <input asp-for="Person.Siblings" class="form-control" />
                <span asp-validation-for="Person.Siblings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
