@page
@model WebProgProject.Pages.PersonPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div>
                <input type="hidden" asp-for="Person.id" />
            </div>
            <div class="form-group">
                <label asp-for="Person.Upload" class="control-label"></label>
                <input asp-for="Person.Upload" class="form-control" />
                <span asp-validation-for="Person.Upload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Tombstone" class="control-label"></label>
                <input asp-for="Person.Tombstone" class="form-control" />
                <span asp-validation-for="Person.Tombstone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.CensusRecords" class="control-label"></label>
                <input asp-for="Person.CensusRecords" class="form-control" />
                <span asp-validation-for="Person.CensusRecords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MaidenName" class="control-label"></label>
                <input asp-for="Person.MaidenName" class="form-control" />
                <span asp-validation-for="Person.MaidenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.FirstName" class="control-label"></label>
                <input asp-for="Person.FirstName" class="form-control" />
                <span asp-validation-for="Person.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MiddleName" class="control-label"></label>
                <input asp-for="Person.MiddleName" class="form-control" />
                <span asp-validation-for="Person.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.LastName" class="control-label"></label>
                <input asp-for="Person.LastName" class="form-control" />
                <span asp-validation-for="Person.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.CensusBookNumber" class="control-label"></label>
                <input asp-for="Person.CensusBookNumber" class="form-control" />
                <span asp-validation-for="Person.CensusBookNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.CensusPageNumber" class="control-label"></label>
                <input asp-for="Person.CensusPageNumber" class="form-control" />
                <span asp-validation-for="Person.CensusPageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.CensusEntryNumber" class="control-label"></label>
                <input asp-for="Person.CensusEntryNumber" class="form-control" />
                <span asp-validation-for="Person.CensusEntryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Spouse" class="control-label"></label>
                <input asp-for="Person.Spouse" class="form-control" />
                <span asp-validation-for="Person.Spouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Title" class="control-label"></label>
                <input asp-for="Person.Title" class="form-control" />
                <span asp-validation-for="Person.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Job" class="control-label"></label>
                <input asp-for="Person.Job" class="form-control" />
                <span asp-validation-for="Person.Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DateOfBirth" class="control-label"></label>
                <input asp-for="Person.DateOfBirth" class="form-control" />
                <span asp-validation-for="Person.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.BirthPlace" class="control-label"></label>
                <input asp-for="Person.BirthPlace" class="form-control" />
                <span asp-validation-for="Person.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DeathPlace" class="control-label"></label>
                <input asp-for="Person.DeathPlace" class="form-control" />
                <span asp-validation-for="Person.DeathPlace" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Person.Profession" class="control-label"></label>
            <input asp-for="Person.Profession" class="form-control" />
            <span asp-validation-for="Person.Profession" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Person.DeathCause" class="control-label"></label>
                <input asp-for="Person.DeathCause" class="form-control" />
                <span asp-validation-for="Person.DeathCause" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.gender" class="control-label"></label>
                <input asp-for="Person.gender" class="form-control" />
                <span asp-validation-for="Person.gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DateOfDeath" class="control-label"></label>
                <input asp-for="Person.DateOfDeath" class="form-control" />
                <span asp-validation-for="Person.DateOfDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DateOfMarriage" class="control-label"></label>
                <input asp-for="Person.DateOfMarriage" class="form-control" />
                <span asp-validation-for="Person.DateOfMarriage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BurialDate" class="control-label"></label>
                <input asp-for="Person.BurialDate" class="form-control" />
                <span asp-validation-for="Person.BurialDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BurialYear" class="control-label"></label>
                <input asp-for="Person.BurialYear" class="form-control" />
                <span asp-validation-for="Person.BurialYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Mother" class="control-label"></label>
                <input asp-for="Person.Mother" class="form-control" />
                <span asp-validation-for="Person.Mother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Father" class="control-label"></label>
                <input asp-for="Person.Father" class="form-control" />
                <span asp-validation-for="Person.Father" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Person.PatGpa" class="control-label"></label>
                <input asp-for="Person.PatGpa" class="form-control" />
                <span asp-validation-for="Person.PatGpa" class="text-danger"></span>


            </div>



            <div class="form-group">
                <label asp-for="Person.PatGma" class="control-label"></label>
                <input asp-for="Person.PatGma" class="form-control" />
                <span asp-validation-for="Person.PatGma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PatGreatGpa" class="control-label"></label>
                <input asp-for="Person.PatGreatGpa" class="form-control" />
                <span asp-validation-for="Person.PatGreatGpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PatGreatGma" class="control-label"></label>
                <input asp-for="Person.PatGreatGma" class="form-control" />
                <span asp-validation-for="Person.PatGreatGma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MatGpa" class="control-label"></label>
                <input asp-for="Person.MatGpa" class="form-control" />
                <span asp-validation-for="Person.MatGpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MatGma" class="control-label"></label>
                <input asp-for="Person.MatGma" class="form-control" />
                <span asp-validation-for="Person.MatGma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MatGreatGpa" class="control-label"></label>
                <input asp-for="Person.MatGreatGpa" class="form-control" />
                <span asp-validation-for="Person.MatGreatGpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MatGreatGma" class="control-label"></label>
                <input asp-for="Person.MatGreatGma" class="form-control" />
                <span asp-validation-for="Person.MatGreatGma" class="text-danger"></span>
            </div>
            Census records
            @*<div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="file" asp-for="Person.CensusRecords" class="text-danger" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Person.GrandMother" class="control-label"></label>
            <input asp-for="Person.GrandMother" class="form-control" />
            <span asp-validation-for="Person.GrandMother" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Person.GrandFather" class="control-label"></label>
            <input asp-for="Person.GrandFather" class="form-control" />
            <span asp-validation-for="Person.GrandFather" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Person.GreatGrandMother" class="control-label"></label>
            <input asp-for="Person.GreatGrandMother" class="form-control" />
            <span asp-validation-for="Person.GreatGrandMother" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Person.GreatGrandFather" class="control-label"></label>
            <input asp-for="Person.GreatGrandFather" class="form-control" />
            <span asp-validation-for="Person.GreatGrandFather" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Person.Siblings" class="control-label"></label>
                <input asp-for="Person.Siblings" class="form-control" />
                <span asp-validation-for="Person.Siblings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.OrientationInLot" class="control-label"></label>
                <input asp-for="Person.OrientationInLot" class="form-control" />
                <span asp-validation-for="Person.OrientationInLot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.LotNumber" class="control-label"></label>
                <input asp-for="Person.LotNumber" class="form-control" />
                <span asp-validation-for="Person.LotNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MausCorridor" class="control-label"></label>
                <input asp-for="Person.MausCorridor" class="form-control" />
                <span asp-validation-for="Person.MausCorridor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.MausTier" class="control-label"></label>
                <input asp-for="Person.MausTier" class="form-control" />
                <span asp-validation-for="Person.MausTier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.GraveNumInCrypt" class="control-label"></label>
                <input asp-for="Person.GraveNumInCrypt" class="form-control" />
                <span asp-validation-for="Person.GraveNumInCrypt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Street" class="control-label"></label>
                <input asp-for="Person.Street" class="form-control" />
                <span asp-validation-for="Person.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.SectionNum" class="control-label"></label>
                <input asp-for="Person.SectionNum" class="form-control" />
                <span asp-validation-for="Person.SectionNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.GPSGravesite" class="control-label"></label>
                <input asp-for="Person.GPSGravesite" class="form-control" />
                <span asp-validation-for="Person.GPSGravesite" class="text-danger"></span>
            </div>
            @*<p>Census Record</p>
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="file" asp-for="CensusUpload" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.id" />

        </div>
        <select name="type">
            <option value="">Select File Extension</option>
            <option value=".pdf">PDF</option>
            <option value=".jpg">JPG</option>
            <option value=".png">PNG</option>
            <option value=".jpeg">JPEG</option>
            <option value=".gif">GIF</option>
            <option value=".doc">DOC</option>
            <option value=".docx">DOCX</option>
        </select>*@
            <div class="form-group">
                <label asp-for="Person.DeathCert" class="control-label"></label>
                <input asp-for="Person.DeathCert" class="form-control" />
                <span asp-validation-for="Person.DeathCert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Obituary" class="control-label"></label>
                <input asp-for="Person.Obituary" class="form-control" />
                <span asp-validation-for="Person.Obituary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.ChurchBuriedFrom" class="control-label"></label>
                <input asp-for="Person.ChurchBuriedFrom" class="form-control" />
                <span asp-validation-for="Person.ChurchBuriedFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Baptism" class="control-label"></label>
                <input asp-for="Person.Baptism" class="form-control" />
                <span asp-validation-for="Person.Baptism" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Godparents" class="control-label"></label>
                <input asp-for="Person.Godparents" class="form-control" />
                <span asp-validation-for="Person.Godparents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.ResidenceAtDeath" class="control-label"></label>
                <input asp-for="Person.ResidenceAtDeath" class="form-control" />
                <span asp-validation-for="Person.ResidenceAtDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Military" class="control-label"></label>
                <input asp-for="Person.Military" class="form-control" />
                <span asp-validation-for="Person.Military" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Will" class="control-label"></label>
                <input asp-for="Person.Will" class="form-control" />
                <span asp-validation-for="Person.Will" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthCert" class="control-label"></label>
                <input asp-for="Person.BirthCert" class="form-control" />
                <span asp-validation-for="Person.BirthCert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
